In [55]:
import pandas as pd
import numpy as np
import seaborn as sns

In [56]:
dataset = pd.read_csv('../Datasets/train data.csv')

# Exploratory Data Analysis

In [57]:
dataset.head()

,id,qid1,qid2,question1,question2,is_duplicate
0,0,1,2,What is the step by step guide to invest in sh...,What is the step by step guide to invest in sh...,0
1,1,3,4,What is the story of Kohinoor (Koh-i-Noor) Dia...,What would happen if the Indian government sto...,0
2,2,5,6,How can I increase the speed of my internet co...,How can Internet speed be increased by hacking...,0
3,3,7,8,Why am I mentally very lonely? How can I solve...,Find the remainder when [math]23^{24}[/math] i...,0
4,4,9,10,"Which one dissolve in water quikly sugar, salt...",Which fish would survive in salt water?,0

In [58]:
dataset.shape

(404290, 6)

In [59]:
dataset.isnull().sum()

id              0
qid1            0
qid2            0
question1       1
question2       2
is_duplicate    0
dtype: int64

In [60]:
dataset.dropna(inplace=True)
dataset.head()

,id,qid1,qid2,question1,question2,is_duplicate
0,0,1,2,What is the step by step guide to invest in sh...,What is the step by step guide to invest in sh...,0
1,1,3,4,What is the story of Kohinoor (Koh-i-Noor) Dia...,What would happen if the Indian government sto...,0
2,2,5,6,How can I increase the speed of my internet co...,How can Internet speed be increased by hacking...,0
3,3,7,8,Why am I mentally very lonely? How can I solve...,Find the remainder when [math]23^{24}[/math] i...,0
4,4,9,10,"Which one dissolve in water quikly sugar, salt...",Which fish would survive in salt water?,0

In [61]:
dataset.shape

(404287, 6)

In [62]:
dataset['question1'].nunique()

290455

In [63]:
dataset['question2'].nunique()

299173

In [64]:
dataset['question1'].value_counts()

How do I improve my English speaking?                                                                                50
How does the ban on 500 and 1000 rupee notes helps to identify black money and corruption?                           48
How do I improve my English language?                                                                                47
What should I do to earn money online?                                                                               47
How can changing 500 and 1000 rupee notes end the black money in India?                                              47
                                                                                                                     ..
How well does Google Maps turn-by-turn navigation work with 2G/Edge speeds?                                           1
Why did saina nehwal changed her coach from gopichand to vimal kumar?                                                 1
What tricks can be used during public speaking test?                                                                  1
5. The memory address of the last location of an 8K byte memory chip is FFFFH. what will be the starting address?     1
What is like to have sex with cousin?                                                                                 1
Name: question1, Length: 290455, dtype: int64

In [65]:
dataset['question2'].value_counts()

How can you look at someone's private Instagram account without following them?                                                                        120
What are the best ways to lose weight?                                                                                                                 119
How can I lose weight quickly?                                                                                                                         100
What's the easiest way to make money online?                                                                                                            71
What are some things new employees should know going into their first day at AT&T?                                                                      66
                                                                                                                                                      ...
Are you afraid that Donald Trump will start a nuclear war?                                                                                               1
A bag of sweets contain mints&toffees only. There are 21 mints in the bag. One quarter of the sweets are toffees. Calculate the total no of sweets?      1
Why does Berocca dissolve in water?                                                                                                                      1
What is your review of Judicial Review?                                                                                                                  1
What is it like to have sex with your cousin?                                                                                                            1
Name: question2, Length: 299173, dtype: int64

In [66]:
dataset[['question1', 'question2']].drop_duplicates()

,question1,question2
0,What is the step by step guide to invest in sh...,What is the step by step guide to invest in sh...
1,What is the story of Kohinoor (Koh-i-Noor) Dia...,What would happen if the Indian government sto...
2,How can I increase the speed of my internet co...,How can Internet speed be increased by hacking...
3,Why am I mentally very lonely? How can I solve...,Find the remainder when [math]23^{24}[/math] i...
4,"Which one dissolve in water quikly sugar, salt...",Which fish would survive in salt water?
...,...,...
404285,How many keywords are there in the Racket prog...,How many keywords are there in PERL Programmin...
404286,Do you believe there is life after death?,Is it true that there is life after death?
404287,What is one coin?,What's this coin?
404288,What is the approx annual cost of living while...,I am having little hairfall problem but I want...
404289,What is like to have sex with cousin?,What is it like to have sex with your cousin?

##### We see that even if q1 and q2 separately have duplicate questions but thery combined don't have duplicates.

In [67]:
dataset.head()

,id,qid1,qid2,question1,question2,is_duplicate
0,0,1,2,What is the step by step guide to invest in sh...,What is the step by step guide to invest in sh...,0
1,1,3,4,What is the story of Kohinoor (Koh-i-Noor) Dia...,What would happen if the Indian government sto...,0
2,2,5,6,How can I increase the speed of my internet co...,How can Internet speed be increased by hacking...,0
3,3,7,8,Why am I mentally very lonely? How can I solve...,Find the remainder when [math]23^{24}[/math] i...,0
4,4,9,10,"Which one dissolve in water quikly sugar, salt...",Which fish would survive in salt water?,0

In [68]:
dataset.drop(['id','qid1','qid2'], axis=1, inplace=True)
dataset.head()

,question1,question2,is_duplicate
0,What is the step by step guide to invest in sh...,What is the step by step guide to invest in sh...,0
1,What is the story of Kohinoor (Koh-i-Noor) Dia...,What would happen if the Indian government sto...,0
2,How can I increase the speed of my internet co...,How can Internet speed be increased by hacking...,0
3,Why am I mentally very lonely? How can I solve...,Find the remainder when [math]23^{24}[/math] i...,0
4,"Which one dissolve in water quikly sugar, salt...",Which fish would survive in salt water?,0

In [69]:
dataset.to_csv('../Datasets/Train_data_post_EDA.csv', index=False)